$def with (shorten)
$var title: Shorten Result

<div id="main">
  <div class="page-header">
    <h1> Shorten Result </h1>
  </div>
  <div id="shorten-page">
    <div id="result" class="result" style="margin-left:auto;margin-right:auto">
    
      <input type="url" name="shorten-url" value="$shorten.url" id="shorten" autofocus="autofocus" class="form-control" style="margin-left:auto;margin-right:auto;margin-bottom:10%">
       
      <a href="$shorten.qr_table" class="thumbnail" style="margin-left:auto;margin-right:auto"> 
        <img src="$shorten.qr_table">
      </a>
    </div>
  </div>

</div>
